<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/reset.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/2015.css" media="screen" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/scripts.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <script src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="content">
  <div class="timer">
    10
  </div>

  <div class="page">
    <div class="content-container">
      <div class="question">
      </div>
    </div>
  </div>
  <div class="scores">
      <ul>
        <li class="family-container f1">
          <div class="place"></div>
          <div class="score">0</div>
          <div class="family">JBAPB</div>
        </li>
        <li class="family-container f2">
          <div class="place"></div>
          <div class="score">0</div>
          <div class="family">BFFL</div>
        </li>
        <li class="family-container f3">
          <div class="place"></div>
          <div class="score">0</div>
          <div class="family">> U</div>
        </li>
        <li class="family-container f4">
          <div class="place"></div>
          <div class="score">0</div>
          <div class="family">Funky Bobasaurs</div>
        </li>
        <li class="family-container f5">
          <div class="place"></div>
          <div class="score">0</div>
          <div class="family">Gangstas</div>
        </li>
      </ul>
  </div>
</div>
</body>

<div class="question-pit">
  <div class="q"></div>

  <!-- Extra Big Slides -->
  <div class="q introslide">VICTOR'S</div>
  <div class="q introslide">FAMILY</div>
  <div class="q introslide">FUN</div>
  <div class="q introslide">NIGHT</div>


  <!-- Standard Question Slide -->
  <div class="q titleslide">
    ATS FAMILY FEUD
  </div> 

  <!-- Family Feud Slide! -->
  <div class="q ff">
    Give me a word a married man would use to fill in the blank: "I would ___ for sex"
    <table>
      <tr>
        <td>pay</td>
        <td class="points">26</td>
      </tr>
      <tr>
        <td>kill</td>
        <td class="points">12</td>
      </tr>
      <tr>
        <td>beg</td>
        <td class="points">12</td>
      </tr>
      <tr>
        <td>die</td>
        <td class="points">5</td>
      </tr>
      <tr>
        <td>lie</td>
        <td class="points">5</td>
      </tr>
    </table>
  </div>

  <!-- Family Feud Slide! -->
  <div class="q ff">
    Give a phrase related to Norman
    <table>
      <tr>
        <td>Cut your hair</td>
        <td class="points">46</td>
      </tr>
      <tr>
        <td>Fyeahnormandy</td>
        <td class="points">20</td>
      </tr>
      <tr>
        <td>Space</td>
        <td class="points">12</td>
      </tr>
      <tr>
        <td>Spaccccccccccccccce</td>
        <td class="points">3</td>
      </tr>
      <tr>
        <td>Brick</td>
        <td class="points">2</td>
      </tr>
    </table>
  </div>

  <!-- Standard Question Slide -->
  <div class="q">
    <h1>Victor's Family Fun Night!</h1>
    <h2>HOSTED BY NORMAN</h2>
  </div>

  <!-- Title Slide -->
  <div class="q titleslide">
    EVENT GEOGUESSR&#8482;
  </div>

  <div class="q">Each question will feature one photo. You must correctly identify the <strong>event</strong> the photo was taken at (don't worry about specifying the year)</div>

  <div class="q">READY?</div>
  <div class="q"><img src="/2015eventguessr/xifansunday.jpg" height="500px"></div>
  <div class="q"><img src="/2015eventguessr/xifansunday-reveal.jpg" height="500px"></div>
  <div class="q"><img src="/2015eventguessr/cookingworkshop.png" height="500px"></div>
  <div class="q"><img src="/2015eventguessr/cookingworkshop-reveal.png" height="500px"></div>
  <div class="q"><img src="/2015eventguessr/nightmarket.jpg" height="500px"></div>
  <div class="q"><img src="/2015eventguessr/nightmarket-reveal.jpg" height="500px"></div>

  <!-- Blank Slide -->
  <div class="q"></div>

  <!-- Title Slide -->
  <div class="q titleslide">
    STANDARD TRIVIA
  </div>
  
  <!-- Blank Slide -->
  <div class="q"></div>

  <!-- Standard Question Slide -->
  <div class="q">
    We enjoy using acronyms in ATS. In case you didn’t know, ATS is also an acronym. What does the T in ATS stand for?
  </div>
  
  <!-- Title Slide -->
  <div class="q titleslide">
    LIGHTING BOOLEAN
  </div>

  <!-- Use this for T/F Section. Comes with a timer! -->
  <div class="q t">
    The tallest mountain in Taiwan, Mt. Jade, is approximately equal in height to the tallest mountain in Massachusetts
  </div>

  <!-- Blank Slide -->
  <div class="q"></div>

  <!-- Use this for T/F Section. Comes with a timer! -->
  <div class="q t">
    Norman's nose is longer than Taiwan
  </div>


</div>
<script type='text/javascript'>
$(document).ready(function(){

  // constants!
  var STARTSLIDE = 0;
  var TIMER_VALUE = 10.1;

  var timerValue = TIMER_VALUE;
  var $qlist = [];
  var slide = STARTSLIDE;
  var pres = 0;
  var numEvents = 0;
  var timer;
  var playingFF = false;
  var answerDB = {};

  $('.question-pit').children('.q').each(function(){
    $qlist.push($(this));
  })
  $('.question').html($qlist[slide]);
  $.get('js/events.txt', function(data){
     t = data.split('\n');
     t.reverse();
  })
  
  var checkTimer = function($q) {
    if ($q.hasClass('t')) {
      $('.timer').show();
      timerValue = TIMER_VALUE;
      timer = setInterval(function() {
        timerValue -= 0.1;
        timerValue = Math.round(timerValue * 10) / 10
        if (Math.round(timerValue)*10 == timerValue*10) {
          zeros = '.0';
        } else {
          zeros = '';
        }
        if (timerValue < 0) {
          $('.timer').text("TIME'S UP");
          $('.timer').addClass('norman-red');
          $('.content').removeClass('content-shrink')
          clearInterval(timer);
        } else if (timerValue == 3.0) {
          $('.content').addClass('content-shrink')
        } else {
          $('.timer').text(timerValue + zeros);
        }
      }, 100)
      console.log('timer round');
    } else {
      $('.timer').hide();
      $('.timer').removeClass('norman-red');
      if (timer) {
        clearInterval(timer);
      }
    }
  }

  var checkFF = function($q) {
    if ($q.hasClass('ff')) {
      // We're playing family feud!
      playingFF = true;
      counter = 0;
      $q.find('tr').each(function() {
        counter ++;
        answerDB[counter] = {a: $(this).find('td:nth-child(1)').text(), 
                             p: $(this).find('td:nth-child(2)').text()}
        $(this).find('td:nth-child(1)').html('&nbsp;');
        $(this).find('td:nth-child(2)').html('&nbsp;');
      });
      console.log(answerDB);
    }
  }

  var departFF = function($q) {
    if ($q.hasClass('ff')) {
      // We're leaving family feud. Clean up tables
      counter = 1
      $qlist[slide].find('tr').each(function() {
        $(this).find('td:nth-child(1)').text(answerDB[counter].a);
        $(this).find('td:nth-child(2)').text(answerDB[counter].p);
        counter++;
      });
      answerDB = {};
      playingFF = false;
    }
  }


  var playFF = function(k) {
    if (playingFF) {
      answerIndex = parseInt(k) - 48;
      if (answerIndex < 10 && answerIndex > 0) {
        $q = $qlist[slide];
        $q.find('tr:nth-child('+answerIndex+') td:nth-child(1)').text(answerDB[answerIndex].a);
        $q.find('tr:nth-child('+answerIndex+') td:nth-child(2)').text(answerDB[answerIndex].p);
      }
    }
  }

  $("body").keydown(function(e) {
    console.log('slide:' , slide);
    console.log('keypress:', e.keyCode);

    playFF(e.keyCode);

    if(e.keyCode == 37) { // left
      if (slide > 0) {
        departFF($qlist[slide]);
        slide --;
        $('.question').html($qlist[slide]);
        checkTimer($qlist[slide]);
        checkFF($qlist[slide]);
      }

    } else if(e.keyCode == 39) { // right
      if (slide < $qlist.length-1) {
        departFF($qlist[slide]);
        slide ++;
        $('.question').html($qlist[slide]);
        checkTimer($qlist[slide]);
        checkFF($qlist[slide]);
      }

    } else if(e.keyCode == 38) {
      pres += 1;
      $('.pres').text(pres);
      $('.pts').text(Math.pow(-2, pres-2));
    } else if (e.keyCode == 40) {
      pres -= 1;
      $('.pres').text(pres);
      $('.pts').text(Math.pow(-2, pres-2));
    } else if (e.keyCode == 79) {
      $('.question').html('<h1>OUCH!</h1>');
    } else if (e.keyCode == 221) {
      numEvents += 1;
      $('.eve').text('');
      for (i = 0; i < numEvents; i ++) {
        $('.eve').append(t[i] + "... ")
      }
    } else if (e.keyCode == 219) {
      numEvents -= 1;
      $('.eve').text('');
      for (i = 0; i < numEvents; i ++) {
        $('.eve').append(t[i] + "... ")
      }
    }
    
  });
})
</script>
<script type="text/javascript">
  var place = 1;
  var socket = io.connect('http://localhost');
  socket.on('news', function (data) {
    $('.f' + data.kp).addClass('buzzin');
    $('.f' + data.kp).find('.place').addClass('place-' + place);
    place ++;
    if (data.kp == 'R') {
      place = 1;
      for (i = 1; i < 6 ; i ++) {
        $('.f' + i).removeClass('buzzin');
        for (j = 0; j < 6; j ++) {
          $('.f' + i).find('.place').removeClass('place-' + j);
        }
      }
    }
  });
  
  var myDataRef = new Firebase('https://stagesimple.firebaseio.com/ATS/');
  myDataRef.on('value', function(snapshot) {
    o = snapshot.val();
    for (ki in Object.keys(o))
      $('.f' + (parseInt(ki) + 1)).find('.score').text(o['f' + (parseInt(ki) + 1)]);
  })
</script>

</html>