<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/reset.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/2015.css" media="screen" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/scripts.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <script src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="content">
  <div class="timer">
    10
  </div>

  <div class="page">
    <div class="content-container">
      <div class="question">
      </div>
    </div>
  </div>
  <div class="scores">
      <ul>
        <li class="family-container f1">
          <div class="place"></div>
          <div class="score">0</div>
          <div class="family">JBAPB</div>
        </li>
        <li class="family-container f2">
          <div class="place"></div>
          <div class="score">0</div>
          <div class="family">BFFL</div>
        </li>
        <li class="family-container f3">
          <div class="place"></div>
          <div class="score">0</div>
          <div class="family">> U</div>
        </li>
        <li class="family-container f4">
          <div class="place"></div>
          <div class="score">0</div>
          <div class="family">Funky Bobasaurs</div>
        </li>
        <li class="family-container f5">
          <div class="place"></div>
          <div class="score">0</div>
          <div class="family">Gangstas</div>
        </li>
      </ul>
  </div>
</div>
</body>

<div class="question-pit">
  <div class="q"></div>
  
  <div class="q">[drumroll please]</div>
  
  <div class="q"></div>

  <!-- Extra Big Slides -->
  <div class="q introslide">VICTOR'S</div>
  <div class="q introslide">FAMILY</div>
  <div class="q introslide">FUN</div>
  <div class="q introslide">NIGHT</div>

  <!-- Standard Question Slide -->
  <div class="q">
    <h1>Victor's Family Fun Night!</h1>
    <h2>HOSTED BY NORMAN</h2>
  </div>
  
  <div class="q"></div>

  <div class="q">our first category tonight will be...</div>
  <!-- Title Slide -->
  <div class="q titleslide">
    THE MORE YOU KNOW
  </div>
  <div class="q">How well do you know your family? You'll need to find the right person to hit the buzzer! Points will be awarded to the fastest families.</div>
  <div class="q"><strong>READY?</strong></div>
  
  <div class="q">
    Did you know? ATS posters are placed roughly at shoulder height to maximize the number of ATS members who can see them. Have the shortest member of your family hit the buzzer!
  </div>

  <div class="q"></div>
  <div class="q">
    Did you know? Boston's snowfall this season (110 inches) has been 3 standard deviations above the mean of 43 inches. Brr! Have the member of your family with the north-most home city hit the buzzer!
  </div>
  
  <div class="q"></div>
  <div class="q">
    Did you know? You would cover a distance of 12,432 kilometers if you flew non-stop from Boston, Massachusetts to Taipei, Taiwan. Have the member of your family who has travelled to the furthest location in the past year hit the buzzer!
  </div>

  
  
  
  
  <div class="q"></div>
  <div class="q">and for our next category</div>
  <div class="q titleslide">
    IRON CHEF ATS
  </div>
  <div class="q">Think you can survive in Kitchen Stadium? We'll provide the ingredients, and you provide the famous dish that they make.</div>
  <div class="q">ALLEZ CUISINE</div>
  
  <div class="q">Round 1</div>
  <div class="q">
    <img src="/img/flour.jpg" height="300px" />
  </div>
  <div class="q">
    <img src="/img/flour.jpg" height="300px" />
    <img src="/img/hot_water.jpg" height="300px" />
  </div>
  <div class="q">
    <img src="/img/flour.jpg" height="300px" />
    <img src="/img/cooking_oil.jpg" height="300px" /><br/>
    <img src="/img/hot_water.jpg" height="300px" />
  </div>
  <div class="q">
    <img src="/img/flour.jpg" height="300px" />
    <img src="/img/cooking_oil.jpg" height="300px" /><br/>
    <img src="/img/hot_water.jpg" height="300px" />
    <img src="/img/scallions.jpg" height="300px" />
  </div>
  <div class="q">
    Scallion Pancakes!<br/>
    <img src="/img/scallion_pancakes.jpg" width="70%" />
  </div>
  
  <div class="q"></div>
  <div class="q">Round 2</div>
  <div class="q">
    <img src="/img/peanuts.jpg" height="300px" />
  </div>
  <div class="q">
    <img src="/img/peanuts.jpg" height="300px" />
    <img src="/img/cilantro.jpg" height="300px" />
  </div>
  <div class="q">
    <img src="/img/peanuts.jpg" height="300px" />
    <img src="/img/cilantro.jpg" height="300px" /><br/>
    <img src="/img/mustard_greens.jpg" height="300px" />
  </div>
  <div class="q">
    <img src="/img/peanuts.jpg" height="300px" />
    <img src="/img/cilantro.jpg" height="300px" /><br/>
    <img src="/img/mustard_greens.jpg" height="300px" />
    <img src="/img/steamed_buns.jpg" height="300px" />
  </div>
  <div class="q">
    <img src="/img/peanuts.jpg" height="300px" />
    <img src="/img/cilantro.jpg" height="300px" /><br/>
    <img src="/img/mustard_greens.jpg" height="300px" />
    <img src="/img/steamed_buns.jpg" height="300px" />
    <img src="/img/pork_belly.jpg" height="300px" />
  </div>
  <div class="q">
    Pork Belly Buns (Gua Bao)!<br/>
    <img src="/img/gua_bao.jpg" width="70%" />
  </div>
  
  <div class="q"></div>
  <div class="q">Round 3</div>
  <div class="q">
    <img src="/img/tomato_paste.jpg" height="300px" />
  </div>
  <div class="q">
    <img src="/img/tomato_paste.jpg" height="300px" />
    <img src="/img/soy_sauce.jpg" height="300px" />
  </div>
  <div class="q">
    <img src="/img/tomato_paste.jpg" height="300px" />
    <img src="/img/soy_sauce.jpg" height="300px" />
    <img src="/img/molasses.jpg" height="300px" />
  </div>
  <div class="q">
    <img src="/img/tomato_paste.jpg" height="300px" />
    <img src="/img/soy_sauce.jpg" height="300px" />
    <img src="/img/molasses.jpg" height="300px" /><br/>
    <img src="/img/pork_shoulder.jpg" height="300px" />
  </div>
  <div class="q">
    <img src="/img/tomato_paste.jpg" height="300px" />
    <img src="/img/soy_sauce.jpg" height="300px" />
    <img src="/img/molasses.jpg" height="300px" /><br/>
    <img src="/img/pork_shoulder.jpg" height="300px" />
    <img src="/img/hoisin_sauce.jpg" height="300px" />
  </div>
  <div class="q">
    Chinese-style BBQ Pork (Char Siu)!<br/>
    <img src="/img/char_siu.jpg" width="70%" />
  </div>
  
  
  
  
  
  
  <div class="q"></div>
  <div class="q">phew! enough about food! our next category will be</div>
  <div class="q titleslide">
    ATS FAMILY FEUD
  </div> 
  <div class="q">Remember the surveys you took earlier? Try and guess which responses were the most popular among ATS members. The first team to buzz gets the first pick!</div>

  <div class="q"></div>
  <!-- Family Feud Slide! -->
  <div class="q ff">
    What is your favorite event? Survey says...
    <table>
      <tr>
        <td>Xifan Sunday</td> <td class="points">46</td>
      </tr>
      <tr>
        <td>Lunar New Year Festival</td> <td class="points">30</td>
      </tr>
      <tr>
        <td>Family Field Day</td> <td class="points">22</td>
      </tr>
      <tr>
        <td>Mochi and Friends</td> <td class="points">8</td>
      </tr>
      <tr>
        <td>Ones I don't have to run</td> <td class="points">3</td>
      </tr>
    </table>
  </div>
  
  <div class="q"></div>
  <div class="q ff">
    What is your favorite shaved ice topping? Survey says...
    <table>
      <tr>
        <td>Condensed Milk</td> <td class="points">53</td>
      </tr>
      <tr>
        <td>Red Bean</td> <td class="points">22</td>
      </tr>
      <tr>
        <td>Lychee Jelly</td> <td class="points">20</td>
      </tr>
      <tr>
        <td>Aiyu Jelly</td> <td class="points">5</td>
      </tr>
      <tr>
        <td>Ice</td> <td class="points">3</td>
      </tr>
    </table>
  </div>
  
  <div class="q"></div>
  <div class="q ff">
    How many questions will be in the game show today? Survey says...
    <table>
      <tr>
        <td>20</td> <td class="points">42</td>
      </tr>
      <tr>
        <td>24</td> <td class="points">22</td>
      </tr>
      <tr>
        <td>42</td> <td class="points">12</td>
      </tr>
      <tr>
        <td>a lot</td> <td class="points">5</td>
      </tr>
      <tr>
        <td>100</td> <td class="points">4</td>
      </tr>
    </table>
  </div>

  <div class="q"></div>
  <!-- Title Slide -->
  <div class="q titleslide">
    EVENT GEOGUESSR&#8482;
  </div>

  <div class="q">Each question will feature one photo. You must correctly identify the <strong>event</strong> the photo was taken at (don't worry about specifying the year)</div>

  <div class="q">READY?</div>
  <div class="q"><img src="/2015eventguessr/xifansunday.jpg" height="500px"></div>
  <div class="q"><img src="/2015eventguessr/xifansunday-reveal.jpg" height="500px"></div>
  <div class="q"><img src="/2015eventguessr/cookingworkshop.png" height="500px"></div>
  <div class="q"><img src="/2015eventguessr/cookingworkshop-reveal.png" height="500px"></div>
  <div class="q"><img src="/2015eventguessr/nightmarket.jpg" height="500px"></div>
  <div class="q"><img src="/2015eventguessr/nightmarket-reveal.jpg" height="500px"></div>

  
  
  
  
  <!-- Blank Slide -->
  <div class="q"></div>

  <!-- Title Slide -->
  <div class="q titleslide">
    STANDARD TRIVIA
  </div>
  <div class="q">The delicious trivia you've been waiting for, first come first served! Answer right and you'll receive points, but answer wrong, and the question will go to the next family!</div>
  
  <div class="q"></div>
  <div class="q">
    Name two of the edible items on the green ATS t-shirt
  </div>
  <div class="q">
    Look around you!
  </div>
  
  <div class="q"></div>
  <div class="q">
    On the (beautiful) intro to the ATS Website, there are a couple of lines that appear in a specific order. What is the fourth line to appear?
  </div>
  <div class="q">
    <img src="/img/intro.png" width="80%" />
  </div>
  
  <div class="q"></div>
  <div class="q">
    This person, a Course III '94, founded ATS with some like-minded individuals in 1991. What was her name?
  </div>
  <div class="q">
    Annie Chang
  </div>
  
  <div class="q"></div>
  <div class="q">
    On the ATS Website, there is a large family photo for each of the ATS family trees. What event is the photo for your family from?
  </div>
  <div class="q">
    <img src="/img/jbapb.jpg" width="25%"/>
    <img src="/img/greaterthanu.jpg" width="25%"/><br/>
    <img src="/img/bigfatfuzzylove.jpg" width="25%"/>
    <img src="/img/atsgangstas.jpg" width="25%"/><br/>
    <img src="/img/funkybobasaurs.jpg" width="30%"/>
  </div>
  
  <div class="q"></div>
  <div class="q">
    Name the founder of your family
  </div>
  <div class="q">
    JBAPB - Jon Lii '06<br/>
    &gt;U - Kenny Yan '08<br/>
    BFFL - Paul Cheng '06<br/>
    Funky Bobasaurs - Christine Yang '08<br/>
    Gangstas - Jen Kwok '08
  </div>
  
  <div class="q"></div>
  <div class="q">
    Imagine you're a prefrosh again. You've entered this building called the "Z-Center" and now you're walking around an endless sea of booths. Overwhelmed, you find yourself drawn to a group with a dragon and a beaver for its logo. With a smile, they introduce themselves and offer you some dessert! What dessert is it?
  </div>
  <div class="q">
    Shaved ice!
  </div>
  
  <div class="q"></div>
  <div class="q">
    It's mid-IAP and bitterly cold outside. You're sitting in a room with maybe a dozen other ATS members, all with their laptops open. It's been two hours of cluelessness since you opened that puzzle, but suddenly, Eureka! Call it in! But what's the name of your team?
  </div>
  <div class="q">
    Super Team Awesome
  </div>
  
  
  
  <div class="q"></div>
  <!-- Title Slide -->
  <div class="q titleslide">
    LIGHTNING BOOLEAN
  </div>
  <div class="q">You will have 10 seconds to decide whether or not the statement you are shown is true or false. <strong>Buzz</strong> if you think it is <strong>TRUE</strong>, and <strong>don't buzz</strong> if you think it is <strong>FALSE</strong>. More points will be awarded to the first to buzz.</div>
  
  <div class="q"></div>

  <!-- Use this for T/F Section. Comes with a timer! -->
  <div class="q t">
    True or false? The land area of Taiwan is approximately equal to the land area of Massachusetts (+/- 10,000 km^2)
  </div>
  <div class="q">
    <h1>TRUE</h1><br/>
    36,000 sq. km vs. 27,000 sq. km
  </div>
  
  <div class="q t">
    True or false? The population of Taipei is approximately equal to the population of Boston, counted by the city proper (+/- 1 million)
  </div>
  <div class="q">
    <h1>FALSE</h1><br/>
    2,7 mil vs. 640,000
  </div>
  
  <div class="q t">
    True or false? Taipei 101, once the tallest building in the world, is taller than the Harvard Bridge is long (using the official MIT measurement of 364.4 smoots)
  </div>
  <div class="q">
    <h1>FALSE</h1><br/>
    509 m vs. 620 m
  </div>
  
  <div class="q t">
    True or false? The tallest mountain in Taiwan, Mt. Jade (Yushan), coming in at an impressive 3952 m, is taller than the tallest mountain in Massachusetts, Mt. Greylock
  </div>
  <div class="q">
    <h1>TRUE</h1><br/>
    4 km vs. 1 km
  </div>
  
  <div class="q t">
    The number of undergraduates attending Taiwan's most prestigious university, National Taiwan University (also known colloquially as Tai Da), is approximately equal to the number of undergraduates attending MIT (+/- 1000)
  </div>
  <div class="q">
    <h1>FALSE</h1><br/>
    18k vs. 4.5k
  </div>

  
  
  
  
  <div class="q"></div>
  <div class="q">for our final round...</div>
  <!-- Title Slide -->
  <div class="q titleslide">
    FINAL JEOPARDY
  </div>
  <div class="q">
    send your family name and wager to our texting service at<br/>
    <h2>631-383-2142</h2>
  </div>
  
  <div class="q"></div>
  
  <div class="q">
    How many pounds of meat were on the shopping list for Family Potluck? Text your answers to<br/>
    <h2>631-383-2142</h2>
    <em>
      Exact - 5x<br/>
      Within 2 lbs - 2x<br/>
      Within 5 lbs - 1x<br/>
    </em>
  </div>
  
  <div class="q"></div>
  
  <div class="q"><h1>156 lbs of meat!</h1></div>
  
  <div class="q">jk it was 19 lbs of meat</div>
  
  <div class="q"></div>

  <div class="q titleslide">thanks for playing!</div> 
  <div class="q">hope to see you next year :)</div> 
  
</div>
<script type='text/javascript'>
$(document).ready(function(){

  // constants!
  var STARTSLIDE = 0;
  var TIMER_VALUE = 10.1;

  var timerValue = TIMER_VALUE;
  var $qlist = [];
  var slide = STARTSLIDE;
  var pres = 0;
  var numEvents = 0;
  var timer;
  var playingFF = false;
  var answerDB = {};

  $('.question-pit').children('.q').each(function(){
    $qlist.push($(this));
  })
  $('.question').html($qlist[slide]);
  $.get('js/events.txt', function(data){
     t = data.split('\n');
     t.reverse();
  })
  
  var checkTimer = function($q) {
    if ($q.hasClass('t')) {
      $('.timer').show();
      timerValue = TIMER_VALUE;
      timer = setInterval(function() {
        timerValue -= 0.1;
        timerValue = Math.round(timerValue * 10) / 10
        if (Math.round(timerValue)*10 == timerValue*10) {
          zeros = '.0';
        } else {
          zeros = '';
        }
        if (timerValue < 0) {
          $('.timer').text("TIME'S UP");
          $('.timer').addClass('norman-red');
          $('.content').removeClass('content-shrink')
          clearInterval(timer);
        } else if (timerValue == 4.5) {
          $('.content').addClass('content-shrink')
        } else if (timerValue == 1.5) {
          $('.content').addClass('content-jiggle')
        } else if (timerValue == 0.1) {
          $('.content').removeClass('content-jiggle')
        } else {
          $('.timer').text(timerValue + zeros);
        }
      }, 100)
      console.log('timer round');
    } else {
      $('.timer').hide();
      $('.timer').removeClass('norman-red');
      if (timer) {
        clearInterval(timer);
      }
    }
  }

  var checkFF = function($q) {
    if ($q.hasClass('ff')) {
      // We're playing family feud!
      playingFF = true;
      counter = 0;
      $q.find('tr').each(function() {
        counter ++;
        answerDB[counter] = {a: $(this).find('td:nth-child(1)').text(), 
                             p: $(this).find('td:nth-child(2)').text()}
        $(this).find('td:nth-child(1)').html('&nbsp;');
        $(this).find('td:nth-child(2)').html('&nbsp;');
      });
      console.log(answerDB);
    }
  }

  var departFF = function($q) {
    if ($q.hasClass('ff')) {
      // We're leaving family feud. Clean up tables
      counter = 1
      $qlist[slide].find('tr').each(function() {
        $(this).find('td:nth-child(1)').text(answerDB[counter].a);
        $(this).find('td:nth-child(2)').text(answerDB[counter].p);
        counter++;
      });
      answerDB = {};
      playingFF = false;
    }
  }


  var playFF = function(k) {
    if (playingFF) {
      answerIndex = parseInt(k) - 48;
      if (answerIndex < 10 && answerIndex > 0) {
        $q = $qlist[slide];
        $q.find('tr:nth-child('+answerIndex+') td:nth-child(1)').text(answerDB[answerIndex].a);
        $q.find('tr:nth-child('+answerIndex+') td:nth-child(2)').text(answerDB[answerIndex].p);
      }
    }
  }

  $("body").keydown(function(e) {
    console.log('slide:' , slide);
    console.log('keypress:', e.keyCode);

    playFF(e.keyCode);

    if(e.keyCode == 37) { // left
      if (slide > 0) {
        departFF($qlist[slide]);
        slide --;
        $('.question').html($qlist[slide]);
        checkTimer($qlist[slide]);
        checkFF($qlist[slide]);
      }

    } else if(e.keyCode == 39) { // right
      if (slide < $qlist.length-1) {
        departFF($qlist[slide]);
        slide ++;
        $('.question').html($qlist[slide]);
        checkTimer($qlist[slide]);
        checkFF($qlist[slide]);
      }

    } else if(e.keyCode == 38) {
      pres += 1;
      $('.pres').text(pres);
      $('.pts').text(Math.pow(-2, pres-2));
    } else if (e.keyCode == 40) {
      pres -= 1;
      $('.pres').text(pres);
      $('.pts').text(Math.pow(-2, pres-2));
    } else if (e.keyCode == 79) {
      $('.question').html('<h1>OUCH!</h1>');
    } else if (e.keyCode == 221) {
      numEvents += 1;
      $('.eve').text('');
      for (i = 0; i < numEvents; i ++) {
        $('.eve').append(t[i] + "... ")
      }
    } else if (e.keyCode == 219) {
      numEvents -= 1;
      $('.eve').text('');
      for (i = 0; i < numEvents; i ++) {
        $('.eve').append(t[i] + "... ")
      }
    }
    
  });
})
</script>
<script type="text/javascript">
  var place = 1;
  var socket = io.connect('http://localhost');
  socket.on('news', function (data) {
    $('.f' + data.kp).addClass('buzzin');
    $('.f' + data.kp).find('.place').addClass('place-' + place);
    place ++;
    if (data.kp == 'R') {
      place = 1;
      for (i = 1; i < 6 ; i ++) {
        $('.f' + i).removeClass('buzzin');
        for (j = 0; j < 6; j ++) {
          $('.f' + i).find('.place').removeClass('place-' + j);
        }
      }
    }
  });
  
  var myDataRef = new Firebase('https://stagesimple.firebaseio.com/ATS/');
  myDataRef.on('value', function(snapshot) {
    o = snapshot.val();
    for (ki in Object.keys(o))
      $('.f' + (parseInt(ki) + 1)).find('.score').text(o['f' + (parseInt(ki) + 1)]);
  })
</script>

</html>
